.tableCompany {
  margin-top: 80px;
}

.iconsWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputCell {
  max-width: 150px;
}

.icon {
  cursor: pointer;
  margin: 0 5px;
}

.green {
  color: var(--color-green-600);
}

.red {
  color: var(--color-error-600);
}

.iconButton {
  padding: 0;
  background-color: transparent;
  border: none;
}

.textField {
  width: 100%;
}
